*{
	margin:0;
	padding:0;
}
nav{
	background-color: $naranja;
}

/* ESTILOS SEARCH */
.search{
	background-color:$gris;
}

.contenedorjson{
	column-count:3;
	display: inline-block;
	box-sizing: border-box;
	column-gap:10px;
	li{
		list-style:none;
		-webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
	}

	.card-content{
		background-color: $naranja;
    	color: white;
    	
    	.fa-cutlery{
    		font-size: 16px;
		    margin-left: -6%;
		    margin-right: 5%;
    	}
    	.fa-map-marker{
    		margin-left: -5%;
    		margin-right: 2%;
    	}
    	.nombreR{
    		font-size: 12px;
    		font-weight: 100;
    		position: relative;
		    top: -18px;
		    left: 11px;
    	}
    	.comuna{
    		font-size: 12px;
    		font-weight: 100;
    		position: relative;
		    top: -18px;
		    left: 6%;
    	}
        .restdetails{
            color:white;
            cursor:pointer;
        }
	}
}
/* FIN ESTILOS SEARCH */

/* FOOTER */
footer{
	background-color:$gris;
    width: 100%;
    position: fixed;
    bottom: 0;
    .info{
        position: relative;
        top: 10px;
    }
    .franjanaranja{
        width: 100%;
        background-color: $naranja;
    }
    .cajablanca{
        background-color:white;
        width:100%;
    }
    .nomRest{
        color: white;
        margin-left: 56%;
    }
    .fa-heart{
        color:white;
        margin-right:5%;
    }
    .address{
        color: $naranja;
        font-weight: 600;
        font-size: 16px;
        margin-top: 7px;
    }
    .precio{
        color: $naranja;
        font-weight: 600;
        font-size: 16px;
        margin-top: 7px;
    }
    .rating{
        color: $naranja;
        font-weight: 600;
        font-size: 16px;
        margin-top: 7px;
    }

}

/* FIN FOOTER */
	.white {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
}
	h6{
    font-size: 19px;
    color: white;

}
	h4{
	margin-top: 94px;
}
	.favorites{
	background-color: white;
	.naranjop {
    background-color: $naranja;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
}
}


    #nombreCaja{
        background-color: $naranja;
        color: white;
    }
    #blancoCaja{
        background-color:white;
        color:black;
        .fa-circle{
            color:$naranja;
            position: relative;
            left: -5%;
        }
    }
}
/* FIN FOOTER */