nav{
	background-color: $naranja;
}

/***** SIGN UP *****/

body {
	background-color: $gris;
}


#login {
	.titulo-logo {
		h3 {
			font-family: $fuente;
			color: $naranja;
			padding-top: 50px;
		}
	}
	.login_campos {
		input[type=text]:not(.browser-default) {
			background-color: white;
			border-bottom: 0;
		}
	}
	.login_btn {
		.btn {
			background-color: $naranja;
			border-radius: 5px;
			width: 95%;
		}
	}
}
 /****** FIN ESTILOS DE LOGIN ****/
